@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: Banny;
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../fonts/Banny-Round.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

html, *, body, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.header {
  background: url(../img/header-bg.png) center/cover;
  width: 100%;
  height: 100vh;
}

.header .top-panel {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-panel nav {
  position: relative;
  width: 37%;
}

.header .top-panel nav::after {
  content: "";
  position: absolute;
  top: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header .top-panel nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .top-panel nav ul li {
  margin: 0 5.55% 0 0;
}

.header .top-panel nav ul li a {
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.header .top-panel nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #E8C300;
  opacity: 0;
  -webkit-transform: translate(-100%, -350%);
      -ms-transform: translate(-100%, -350%);
          transform: translate(-100%, -350%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.4s;
  transition: opacity 0.3s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.3s;
  transition: transform 0.4s, opacity 0.3s;
  transition: transform 0.4s, opacity 0.3s, -webkit-transform 0.4s;
}

.header .top-panel nav ul li a:hover::after {
  -webkit-transform: translate(-100%, -150%);
      -ms-transform: translate(-100%, -150%);
          transform: translate(-100%, -150%);
  opacity: 1;
}

.header .top-panel nav ul li:last-child {
  margin: 0;
}

.header .top-panel picture {
  width: 150px;
  height: 150px;
}

.header .top-panel img {
  margin: 24% 0 0 0;
}

.header .main-header {
  height: 85vh;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 100%;
  position: relative;
}

.header .main-header .header-left-side {
  position: relative;
  width: 100%;
  height: 100%;
}

.header .main-header .header-left-side p {
  position: absolute;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: calc(50% - 150px);
  top: calc(50% - 6px);
  width: 300px;
}

.header .main-header .header-text span {
  display: block;
  margin: 13% 0 14px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.header .main-header .header-text h1 {
  font-family: Banny;
  font-size: 76px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 3% 0 0 0;
}

.header .main-header .header-text .header-line {
  margin: 3% 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.11px;
}

.header .main-header .header-text .header-line .header-main-line {
  background: #E8C300;
  border-radius: 50px;
  width: 6.16%;
  height: 5.11px;
}

.header .main-header .header-text .header-buttons {
  margin-top: 4%;
  margin-left: calc(50% - 220px);
  width: 440px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .main-header .header-text .header-buttons .header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  cursor: pointer;
}

.header .main-header .header-text .header-buttons .header-button p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  z-index: 4;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.header .main-header .header-text .header-buttons .header-button1 {
  background: #E8C300;
  z-index: 2;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.header .main-header .header-text .header-buttons .header-button1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.header .main-header .header-text .header-buttons .header-button1:hover::before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  -webkit-transform: translate(10%, 0%);
      -ms-transform: translate(10%, 0%);
          transform: translate(10%, 0%);
}

.header .main-header .header-text .header-buttons .header-button1:hover p {
  color: #000;
}

.header .main-header .header-text .header-buttons .header-button2 {
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.header .main-header .header-text .header-buttons .header-button2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 110%;
  width: 100%;
  height: 100%;
  background: #E8C300;
  z-index: 3;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1;
  -webkit-transition: opacity .3s ease, -webkit-transform 0.3s ease;
  transition: opacity .3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity .3s ease;
  transition: transform 0.3s ease, opacity .3s ease;
  transition: transform 0.3s ease, opacity .3s ease, -webkit-transform 0.3s ease;
}

.header .main-header .header-text .header-buttons .header-button2:hover::before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  -webkit-transform: translate(-110%, 0);
      -ms-transform: translate(-110%, 0);
          transform: translate(-110%, 0);
}

.header .main-header .header-text .header-buttons .header-button2::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 110%;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 5;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease 0.2s, top .4s ease .2s, left .4s ease .2s;
  -o-transition: opacity 0.4s ease 0.2s, top .4s ease .2s, left .4s ease .2s;
  transition: opacity 0.4s ease 0.2s, top .4s ease .2s, left .4s ease .2s;
}

.header .main-header .header-text .header-buttons .header-button2:hover::after {
  opacity: 1;
  left: 10%;
  top: 45%;
}

.header .main-header .header-text .header-scroll-button {
  position: absolute;
  border-radius: 4px;
  bottom: 20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scrollButton 0.9s infinite;
          animation: scrollButton 0.9s infinite;
  -webkit-transition: border-radius 0.5s ease;
  -o-transition: border-radius 0.5s ease;
  transition: border-radius 0.5s ease;
  cursor: pointer;
}

.header .main-header .header-text .header-scroll-button:hover {
  border-radius: 20px;
}

@-webkit-keyframes scrollButton {
  0% {
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
  50% {
    border: 3px solid rgba(255, 255, 255, 0.2);
  }
  100% {
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
}

@keyframes scrollButton {
  0% {
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
  50% {
    border: 3px solid rgba(255, 255, 255, 0.2);
  }
  100% {
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
}

.header .main-header .header-text .header-scroll-button .header-scroll-inside {
  position: absolute;
  background: #fff;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header .main-header .header-text .header-scroll-button .header-scroll-inside:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header .main-header .header-text .header-scroll-button .header-scroll-inside img {
  position: absolute;
  left: calc(50% - 7px);
  top: 16.67%;
  -webkit-animation: scrollArrow 0.9s ease-in infinite;
          animation: scrollArrow 0.9s ease-in infinite;
}

@-webkit-keyframes scrollArrow {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes scrollArrow {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.header .main-header .header-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main-header .header-right-side .header-icons {
  width: 60px;
  height: 220px;
}

.header .main-header .header-right-side .header-icons .header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  margin: 0 0 20px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .main-header .header-right-side .header-icons .header-icon:hover {
  background: #E8C300;
  border: 2px solid #fff;
}

.header .main-header .header-right-side .header-icons .header-icon:last-child {
  margin: 0;
}

.about {
  height: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.about .about-center {
  width: 88.88%;
  height: 70.37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about .about-center .about-text {
  max-width: 600px;
}

.about .about-center .about-text h1 {
  margin: 100px 0 0 0;
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.about .about-center .about-text .about-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 10px 0;
}

.about .about-center .about-text .about-line .about-main-line {
  width: 10%;
  height: 5px;
  left: 378.58px;
  top: 1073px;
  background: #E8C300;
  border-radius: 50px;
}

.about .about-center .about-text p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #000000;
}

.about .about-center .about-text p span {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.about .about-center .about-img {
  min-width: 450px;
  height: 100%;
  margin: 0 0 0 10px;
}

.about .about-center .about-img .about-main-img {
  position: relative;
  max-width: 475px;
  background: url(../img/about-img.png) center/cover;
  -webkit-filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
  height: 100%;
}

.about .about-center .about-img .about-main-img .about-border {
  position: absolute;
  top: 25%;
  left: 78%;
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.team {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 1fr;
  height: 676px;
  background: url(../img/team-bg.png) center/cover;
}

.team .team-title {
  -ms-flex-item-align: center;
      align-self: center;
}

.team .team-title h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team .team-content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.team .team-content .team-img {
  margin: 5% 0 0 0;
  background: url(../img/team-photo.png) center/cover;
  border-radius: 10px;
  width: 475px;
  height: 82.6%;
  justify-self: center;
}

.team .team-content .team-text {
  justify-self: center;
  width: 62.875%;
}

.team .team-content .team-text h1 {
  margin: 100px 0 0 0;
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.team .team-content .team-text .team-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 10px 0;
}

.team .team-content .team-text .team-line .team-main-line {
  width: 10%;
  height: 5px;
  left: 378.58px;
  top: 1073px;
  background: #E8C300;
  border-radius: 50px;
}

.team .team-content .team-text p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #fff;
}

.team .team-content .team-text p span {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.booking {
  height: 675px;
  display: grid;
  grid-template-rows: 1fr 10%;
  grid-template-columns: 100%;
}

.booking .booking-content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.booking .booking-content .booking-form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 1fr;
}

.booking .booking-content .booking-form .booking-form-title {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.booking .booking-content .booking-form .booking-form-title h1 {
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
}

.booking .booking-content .booking-form .booking-form-title .booking-form-line {
  width: 60.91px;
  height: 5px;
  background: #E8C300;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: calc(50% - 30px);
}

.booking .booking-content .booking-form form {
  margin: 0 0 0 10px;
  justify-self: center;
  height: 280px;
  display: grid;
  grid-template-columns: minmax(0, 277px) minmax(0, 277px);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.booking .booking-content .booking-form form input {
  max-width: 277px;
  height: 60px;
  left: 135px;
  top: 2393px;
  background: #E5E5E5;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 15px;
}

.booking .booking-content .booking-form form button {
  overflow: hidden;
  position: relative;
  max-width: 564px;
  grid-column: 1/3;
  background: #E8C300;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}

.booking .booking-content .booking-form form button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transform: translateY(-250%);
      -ms-transform: translateY(-250%);
          transform: translateY(-250%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.4s ease;
  transition: opacity 0.3s, -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease, opacity 0.3s;
  transition: transform 0.4s ease, opacity 0.3s;
  transition: transform 0.4s ease, opacity 0.3s, -webkit-transform 0.4s ease;
}

.booking .booking-content .booking-form form button:hover::before {
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  opacity: 1;
}

.booking .booking-content .booking-form form button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transform: translateY(250%);
      -ms-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.4s ease;
  transition: opacity 0.3s, -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease, opacity 0.3s;
  transition: transform 0.4s ease, opacity 0.3s;
  transition: transform 0.4s ease, opacity 0.3s, -webkit-transform 0.4s ease;
}

.booking .booking-content .booking-form form button:hover::after {
  -webkit-transform: translateY(150%);
      -ms-transform: translateY(150%);
          transform: translateY(150%);
  opacity: 1;
}

.booking .booking-content .booking-img {
  display: grid;
}

.booking .booking-content .booking-img .booking-main-img {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0 16px;
  width: 450px;
  height: 450px;
  background: url(../img/booking-photo.png) center/cover;
}

.booking .booking-footer p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
}

.booking .booking-footer p span {
  font-weight: bold;
}

.specialties {
  height: 675px;
  overflow: hidden;
  position: relative;
}

.specialties .track {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.specialties .track .item {
  min-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 1fr;
  background: url("../img/specialty's-bg.png") center/cover;
}

.specialties .track .item .item-title {
  -ms-flex-item-align: end;
      align-self: end;
}

.specialties .track .item .item-title h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.specialties .track .item-content {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.specialties .track .item-content .item-img {
  justify-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.specialties .track .item-content .item-img img {
  margin: 58px 0 0 0;
  width: 450px;
  height: 450px;
}

.specialties .track .item-content .item-text {
  padding: 0 3%;
}

.specialties .track .item-content .item-text h1 {
  max-width: 600px;
  margin: 158px 0 0 0;
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.specialties .track .item-content .item-text .item-line {
  margin: 15px 0;
  max-width: 600px;
  height: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specialties .track .item-content .item-text .item-line .item-main-line {
  background: #E8C300;
  border-radius: 50px;
  width: 60px;
  height: 5px;
}

.specialties .track .item-content .item-text p {
  max-width: 600px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.specialties .track .item-content .item-text p:last-child {
  margin: 15px 0 0 0;
  color: rgba(255, 255, 255, 0.5);
}

.specialties .btns-slide {
  width: 70px;
  height: 10px;
  z-index: 5;
  position: absolute;
  bottom: 45px;
  left: calc(50% - 35px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specialties .btns-slide .btn-slide {
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s ease-in;
  transition: background 0.3s, -webkit-transform 0.3s ease-in;
  -o-transition: background 0.3s, transform 0.3s ease-in;
  transition: background 0.3s, transform 0.3s ease-in;
  transition: background 0.3s, transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  cursor: pointer;
}

.specialties .btns-slide .btn-slide:hover {
  background: white;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.menu {
  height: 920px;
  display: grid;
  grid-template-rows: 238px 50px 1fr 100px;
}

.menu .menu-text {
  place-self: center;
}

.menu .menu-text h1 {
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.menu .menu-text .menu-line {
  margin: 15px 0;
  width: 100%;
  height: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .menu-text .menu-line .menu-main-line {
  width: 60px;
  height: 6px;
  background: #E8C300;
  border-radius: 50px;
}

.menu .menu-text p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.menu .menu-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .menu-tabs .tabs {
  width: 840px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu-tabs .tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out, color 0.3s ease;
  -o-transition: background 0.5s ease-in-out, color 0.3s ease;
  transition: background 0.5s ease-in-out, color 0.3s ease;
}

.menu .menu-tabs .tabs .tab:hover {
  color: white;
  background: #E8C300;
}

.menu .menu-tabs .tabs .tab:last-child {
  border: none;
}

.menu .menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu .menu-content .menu-content-block {
  margin: 0 0 0 10px;
  place-self: flex-end;
}

.menu .menu-content p {
  margin: 0 0 10px 0;
  height: 66px;
  font-family: Banny;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}

.menu .menu-content p span {
  font-size: 15px;
  color: rgba(51, 51, 51, 0.5);
}

.private {
  height: 675px;
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 50% 50%;
  background: url("../img/specialty's-bg.png") center/cover;
  overflow: hidden;
}

.private .private-title {
  grid-row: 1/2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.private .private-title h2 {
  margin: 0 0 10px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.private .private-img1 {
  grid-row: 2/3;
  margin: 0 3% 0 0;
  grid-column: 1/2;
  justify-self: end;
  align-self: center;
}

.private .private-img1 .private-main-img {
  margin: 0 0 0 10px;
  position: relative;
  width: 450px;
  height: 450px;
  background: url(../img/privateOne.png) center/cover;
}

.private .private-img1 .private-main-img .p-img {
  position: absolute;
  right: -1px;
  top: 0;
  width: 80px;
  height: 100%;
  background: #000000;
  border-radius: 0px 5px 5px 0px;
}

.private .private-img1 .private-main-img .p-img p {
  position: absolute;
  left: calc(50% - 70px);
  top: 75px;
  font-family: Banny;
  font-size: 24px;
  line-height: 12px;
  text-indent: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.private .private-img1 .private-main-img .p-img-border {
  position: absolute;
  top: 113px;
  right: 350px;
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.private .private-img2 {
  grid-row: 2/3;
  margin: 0 0 0 3%;
  grid-column: 2/3;
  justify-self: start;
  align-self: center;
}

.private .private-img2 .private-main-img {
  position: relative;
  width: 450px;
  height: 450px;
  background: url(../img/privateTwo.png) center/cover;
}

.private .private-img2 .private-main-img .p-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background: #000000;
  border-radius: 5px 0px 0px 5px;
}

.private .private-img2 .private-main-img .p-img p {
  position: absolute;
  width: 270px;
  left: calc(50% - 135px);
  bottom: 150px;
  font-family: Banny;
  font-size: 24px;
  line-height: 12px;
  text-indent: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.private .private-img2 .private-main-img .p-img-border {
  position: absolute;
  top: 113px;
  left: 350px;
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.private .private-footer {
  grid-row: 3/4;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.private .private-footer p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.private .private-footer p span {
  font-weight: bold;
}

.galerie {
  overflow: hidden;
  height: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.galerie img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  height: 647px;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
}

.contacts .contacts-content {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 32% 1fr;
}

.contacts .contacts-content .contacts-title {
  display: grid;
}

.contacts .contacts-content .contacts-title h1 {
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.contacts .contacts-content .contacts-title .contacts-line {
  width: 60px;
  height: 6px;
  background: #E8C300;
  border-radius: 5px;
  justify-self: center;
  margin: 15px 0;
}

.contacts .contacts-content .contacts-title p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.contacts .contacts-content form {
  margin: 50px 10px 0 10px;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(60px, 420px));
  grid-template-rows: 60px 120px 60px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.contacts .contacts-content form input {
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px;
}

.contacts .contacts-content form textarea {
  grid-column: 1/4;
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  padding: 15px;
}

.contacts .contacts-content form .form-buttons-links {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.contacts .contacts-content form .form-buttons-links .form-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: start;
}

.contacts .contacts-content form .form-buttons-links .form-links p, .contacts .contacts-content form .form-buttons-links .form-links a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(51, 51, 51, 0.5);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.contacts .contacts-content form .form-buttons-links .form-links a:hover {
  color: #E8C300;
}

.contacts .contacts-content form .form-buttons-links button {
  position: relative;
  overflow: hidden;
  background: #E8C300;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.contacts .contacts-content form .form-buttons-links button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transform: translateY(-250%);
      -ms-transform: translateY(-250%);
          transform: translateY(-250%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.4s ease;
  transition: opacity 0.3s, -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease, opacity 0.3s;
  transition: transform 0.4s ease, opacity 0.3s;
  transition: transform 0.4s ease, opacity 0.3s, -webkit-transform 0.4s ease;
}

.contacts .contacts-content form .form-buttons-links button:hover::before {
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  opacity: 1;
}

.contacts .contacts-content form .form-buttons-links button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transform: translateY(250%);
      -ms-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.4s ease;
  transition: opacity 0.3s, -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease, opacity 0.3s;
  transition: transform 0.4s ease, opacity 0.3s;
  transition: transform 0.4s ease, opacity 0.3s, -webkit-transform 0.4s ease;
}

.contacts .contacts-content form .form-buttons-links button:hover::after {
  -webkit-transform: translateY(150%);
      -ms-transform: translateY(150%);
          transform: translateY(150%);
  opacity: 1;
}

footer {
  height: 575px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 100px;
}

footer .footer-map iframe {
  width: 100%;
}

footer .footer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.9);
}

footer .footer-footer p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
}

footer .footer-footer p span {
  font-weight: bold;
}

input:focus, textarea:focus {
  border: 1px solid #E8C300 !important;
}

@media screen and (min-width: 1700px) {
  .header .top-panel nav ul li a {
    font-size: 18px;
  }
  .header .main-header .header-left-side p {
    font-size: 14px;
  }
  .header .main-header .header-text span {
    font-size: 18px;
  }
}

@media screen and (min-width: 1100px) {
  .private .private-img1 .private-main-img {
    width: 475px;
    height: 475px;
  }
  .private .private-img2 .private-main-img {
    width: 475px;
    height: 475px;
  }
}

@media screen and (max-width: 1075px) {
  .menu .menu-content .menu-content-block p {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}
