html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

:root {
  --font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-banny: 'Banny', Arial, Helvetica, sans-serif;
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #333;
  --color-gray: #e5e5e5;
  --color-yellow: #e8c300;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1310px;
}

.hero {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  background: url(../img/header__bg.jpg) center/cover no-repeat;
}

.hero__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.hero__header::before {
  content: url(../img/logo.svg);
  position: absolute;
  left: 50%;
  top: 25px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__content {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  width: 100%;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__overtitle {
  margin-bottom: 15px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero__title {
  position: relative;
  margin-bottom: 55px;
  font-family: var(--font-banny);
  font-weight: 600;
  font-size: 96px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero__title::after {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  bottom: -20px;
  border-radius: 50px;
  width: 60px;
  height: 5px;
  background: var(--color-yellow);
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__button {
  border-radius: 5px;
  padding: 20px 68px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--color-white);
}

.hero__button:first-child {
  margin-right: 40px;
  background: var(--color-yellow);
  -webkit-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.hero__button:first-child:hover {
  color: var(--color-black);
  background: var(--color-white);
}

.hero__button:last-child {
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.hero__button:last-child:hover {
  background: var(--color-yellow);
}

.hero__timetable {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  width: 270px;
  height: auto;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  color: var(--color-white);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.hero__social:hover {
  background: var(--color-yellow);
}

.hero__social:not(:last-child) {
  margin-bottom: 20px;
}

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 41px 55px;
  width: 520px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 80px;
}

.nav__link {
  position: relative;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-white);
}

.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 3px;
  background: var(--color-yellow);
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.nav__link:hover::before {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.title {
  position: relative;
  margin-bottom: 50px;
  font-family: var(--font-banny);
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0;
}

.title::after {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  bottom: -20px;
  border-radius: 50px;
  width: 60px;
  height: 5px;
  background: var(--color-yellow);
}

.subtitle {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
}

.subtitle--light {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
}

.main-img {
  position: relative;
  border-radius: 5px;
  width: 475px;
  height: 475px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background: url(../img/about-img.png) center/cover no-repeat;
}

.main-img::after {
  content: "";
  position: absolute;
  right: -125px;
  top: calc(50% - 125px);
  border: 20px solid #E8C300;
  border-radius: 5px;
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.visuality-hidden {
  display: none;
}

.about {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 1fr;
  padding: 100px 15px;
}

.about__text {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
}

.about__img {
  justify-self: start;
}

.about__title {
  text-align: center;
  text-transform: uppercase;
}

.about__subtitle {
  margin-bottom: 30px;
}

.about__subtitle, .about__subtitle--light {
  max-width: 600px;
  text-align: center;
}

.team {
  padding: 40px 0 100px;
  background: url(../img/team__bg.jpg) center/cover no-repeat;
}

.team__overtitle {
  display: block;
  margin-bottom: 40px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.team__content {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 1fr;
}

.team__img {
  justify-self: end;
  background: url(../img/team-img.png) center/cover no-repeat;
}

.team__img::after {
  right: calc(100% - 125px);
}

.team__text {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: start;
  max-width: 600px;
  color: var(--color-white);
}

.team__title {
  text-align: center;
  text-transform: uppercase;
}

.team__subtitle {
  margin-bottom: 30px;
}

.team__subtitle, .team__subtitle--light {
  text-align: center;
}

.book {
  padding: 100px 15px 40px;
}

.book__content {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

.book__content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: end;
}

.book__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.book__form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 277px 277px;
}

.book__input {
  outline: none;
  border-radius: 5px;
  padding: 22px;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  color: rgba(51, 51, 51, 0.5);
  background: #e5e5e5;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.book__input:focus {
  -webkit-box-shadow: 0 0 15px var(--color-yellow);
          box-shadow: 0 0 15px var(--color-yellow);
}

.book__button {
  position: relative;
  grid-column: 1/3;
  overflow: hidden;
  border-radius: 5px;
  padding: 22px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-yellow);
}

.book__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  background: #ffd600;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.book__button::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background: #ffd600;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.book__button:hover::before {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.book__button:hover::after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.book__img {
  justify-self: start;
}

.book__timetable {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
}

.book__timetable span {
  font-weight: 700;
}

.speciality {
  position: relative;
  padding: 40px 0 100px;
  background: url(../img/speciality__bg.jpg) center/cover no-repeat;
}

.speciality__overtitle {
  display: block;
  margin-bottom: 40px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.speciality__item {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 1fr;
}

.speciality__img {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.speciality__text {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: start;
}

.speciality__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.speciality__subtitle {
  margin-bottom: 30px;
}

.speciality__subtitle, .speciality__subtitle--light {
  text-align: center;
  color: var(--color-white);
}

.speciality__dots {
  position: absolute;
  left: 50%;
  bottom: 45px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ffffff50;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 15px;
}

.menu__title {
  text-align: center;
  text-transform: uppercase;
}

.menu__subtitle {
  margin-bottom: 50px;
  max-width: 565px;
  text-align: center;
}

.menu__tab-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.menu__tab-button {
  border-radius: 30px;
  padding: 21px 40px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-dark);
  -webkit-transition: color 0.3s, background 0.3s;
  -o-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  cursor: pointer;
}

.menu__tab-button:not(:last-child) {
  position: relative;
}

.menu__tab-button:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 25px);
  width: 1px;
  height: 50px;
  background: rgba(51, 51, 51, 0.2);
}

.menu__tab-button:hover {
  color: var(--color-white);
  background: var(--color-yellow);
}

.menu__tab-button--current {
  color: var(--color-white);
  background: var(--color-yellow);
}

.menu__tabs {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.menu__tab {
  justify-self: center;
  max-width: 363px;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--color-dark);
}

.menu__tab span {
  font-family: var(--font-banny);
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
}

.privite {
  padding: 40px 0;
  background: url(../img/speciality__bg.jpg) center/cover no-repeat;
}

.privite__title {
  margin-bottom: 40px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
}

.privite__wrapper {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

.privite__img:first-child {
  justify-self: end;
}

.privite__img:first-child::after {
  right: calc(100% - 125px);
}

.privite__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 80px;
  background: var(--color-black);
  -webkit-transform: rotate(-90deg) translate(40px, -40px);
      -ms-transform: rotate(-90deg) translate(40px, -40px);
          transform: rotate(-90deg) translate(40px, -40px);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.privite__img-block--position {
  -webkit-transform: rotate(90deg) translate(-40px, -40px);
      -ms-transform: rotate(90deg) translate(-40px, -40px);
          transform: rotate(90deg) translate(-40px, -40px);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.privite__img-text {
  font-family: var(--font-banny);
  font-weight: 600;
  font-size: 24px;
  line-height: 12px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-white);
}

.privite__timetable {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff50;
}

.privite__timetable a {
  font-weight: 700;
  color: #ffffff70;
}

.gallery__item {
  max-width: 360px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 15px;
}

.contact__title {
  text-align: center;
  text-transform: uppercase;
}

.contact__subtitle {
  margin-bottom: 50px;
  max-width: 565px;
  text-align: center;
}

.contact__form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.contact__input, .contact__textarea {
  outline: none;
  border-radius: 5px;
  padding: 22px;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  background: var(--color-gray);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.contact__input:focus, .contact__textarea:focus {
  -webkit-box-shadow: 0 0 15px var(--color-yellow);
          box-shadow: 0 0 15px var(--color-yellow);
}

.contact__textarea {
  grid-column: 1/4;
  resize: none;
}

.contact__info {
  display: grid;
  grid-column: 1/4;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.contact__text {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  color: var(--color-black);
}

.contact__text a {
  margin: 0 5px;
  color: var(--color-black);
}

.contact__button {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-yellow);
  -webkit-transition: color 0.3s, background 0.3s;
  -o-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}

.contact__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid var(--color-black);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.contact__button:hover::before {
  opacity: 1;
}

.contact__button:hover {
  color: var(--color-yellow);
  background: var(--color-white);
}

.map {
  width: 100%;
  height: 475px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px;
  background: var(--color-black);
}

.footer__copy {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  color: #ffffff50;
}

.footer__copy span {
  font-weight: 700;
  color: #ffffff70;
}

.burger {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  width: 30px;
  height: 28px;
  background: transparent;
}

.burger__item {
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background: var(--color-white);
}

.burger__item:first-child {
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, -webkit-transform 0.3s;
  -o-transition: background 0.3s, transform 0.3s;
  transition: background 0.3s, transform 0.3s;
  transition: background 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.burger__item:nth-child(2) {
  -webkit-transition: background 0.3s 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s 0.3s, -webkit-transform 0.3s;
  -o-transition: background 0.3s 0.3s, transform 0.3s;
  transition: background 0.3s 0.3s, transform 0.3s;
  transition: background 0.3s 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.burger__item:last-child {
  -webkit-transition: background 0.3s 0.6s, -webkit-transform 0.3s;
  transition: background 0.3s 0.6s, -webkit-transform 0.3s;
  -o-transition: background 0.3s 0.6s, transform 0.3s;
  transition: background 0.3s 0.6s, transform 0.3s;
  transition: background 0.3s 0.6s, transform 0.3s, -webkit-transform 0.3s;
}

.burger:focus .burger__item {
  background: var(--color-yellow);
}

@media (min-height: 1045px) {
  .hero {
    min-height: 1045px;
  }
}

@media (max-width: 1367.98px) {
  .main-img::after {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .book__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .book__img {
    display: none;
  }
}

@media (max-width: 1151.98px) {
  .header__nav {
    padding: 41px 10px;
    width: 441px;
  }
  .hero__header::before {
    display: none;
  }
  .nav__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__item:not(:last-child) {
    margin-right: 20px;
  }
  .menu__tabs {
    grid-template-columns: 1fr 1fr;
  }
  .menu__tab {
    margin-bottom: 10px;
  }
  .privite__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 991.98px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__header {
    position: absolute;
    left: 0;
    top: 0;
  }
  .hero__content {
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }
  .hero__timetable {
    grid-row: 4/5;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  .hero__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__social:not(:last-child) {
    margin: 0 20px 0 0;
  }
  .hero__title {
    font-size: 65px;
  }
  .about__img,
  .team__img,
  .speciality__img {
    display: none;
  }
  .about,
  .team__content,
  .speciality__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .speciality__subtitle,
  .speciality__subtitle--light {
    max-width: 565px;
  }
  .menu__tab-button {
    padding: 21px 30px;
  }
}

@media (max-width: 767.98px) {
  .hero__header {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
    width: 245px;
    background: #000000fa;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger--active .burger__item {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  .burger--active .burger__item:first-child {
    -webkit-transform: rotate(45deg) translate(8px, 10px);
        -ms-transform: rotate(45deg) translate(8px, 10px);
            transform: rotate(45deg) translate(8px, 10px);
  }
  .burger--active .burger__item:nth-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, 0);
        -ms-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  .burger--active .burger__item:last-child {
    opacity: 0;
  }
  .header__nav {
    border: none;
    padding: 25px 10px;
    width: auto;
  }
  .header--active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list:not(:last-child) {
    margin-bottom: 35px;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .hero__title {
    text-align: center;
  }
  .book__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 277px;
  }
  .book__timetable {
    line-height: 20px;
  }
  .menu__tab-buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .menu__tab-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid var(--color-black);
  }
  .menu__tab-button::after {
    display: none;
  }
  .contact__form,
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__text {
    line-height: 20px;
  }
}

@media (max-width: 575.98px) {
  .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__button {
    padding: 20px 0;
    width: 200px;
    text-align: center;
  }
  .hero__button:first-child {
    margin: 0 0 10px;
  }
  .privite__img {
    width: 260px;
  }
  .privite__timetable {
    line-height: 20px;
  }
}

::-webkit-scrollbar {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}
